* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: opacity 0.5s; /* opacity가 변경될때 0.5초에 걸쳐서 변경해주세요!*/
}
.main-bg {
  height: 400px;
  width: 100%;
  background-image: url('./assets/banner.jpg');
  background-size: cover;
  background-position: center;
}

.image-gallery {
  display: flex;
  justify-content: center;  /* 가로로 가운데 정렬 */
  align-items: center;      /* 세로로 가운데 정렬 */
  flex-wrap: wrap;          /* 화면 크기에 맞춰 이미지를 감싸도록 설정 */
  margin: 0 -10px; /* 이미지를 사이에 간격을 주기 위해 -10px */
}

.image-item {
  width: 33.33%;  /* 3등분으로 너비 설정 */
  padding: 0 10px; /* 좌우 여백 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;  /* 이미지와 텍스트 세로로 배치 */
  justify-content: center; /* 이미지와 텍스트 세로 정렬 */
  align-items: center;     /* 이미지와 텍스트 가로 정렬 */
  text-align: center;      /* 텍스트 가운데 정렬 */
}

.image-item img {
  width: 100%;  /* 부모 요소에 맞게 꽉 채움 */
  height: 100%; /* 부모 요소의 높이에 맞추기 */
  object-fit: contain;  /* 이미지 비율 유지하면서 완전히 보여주기 */
}

@media screen and (max-width: 768px) {
  .image-item {
    width: 48%;  /* 작은 화면에서는 2등분 */
  }
}

@media screen and (max-width: 480px) {
  .image-item {
    width: 100%;  /* 모바일에서는 1등분 */
  }
}
.linkButton{
  text-decoration: none;
  padding : 10px;
  color : rgb(190, 190, 190);
}
.linkButton:hover{
  color: #dddddd;       /* 마우스 오버 시 색상 변경 */
  font-weight: bold;
  font-family: sans-serif;
}